---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.jsx";
---

<Layout title="Dashboard">
  <main class="min-h-full">
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <Main client:load title="Dashboard" description="test dashboard" />
    </div>
  </main>
</Layout>
